{{#link-to 'vocabulary.item' record.id class="btn btn-default btn-sm"}}Ver/editar{{/link-to}}
{{#link-to 'vocabulary.item.terms' record.id class="btn btn-default btn-sm"}}Termos{{/link-to}}
<button {{action 'deleteRecord' record}} type="button" class="btn btn-default btn-sm">
  Deletar
</button>