<div class="content-box-large">
  <div class="panel-heading">
    <h1>Mudar senha</h1>
  </div>
  <div class="panel-body">
    <form {{action "changePassword" model on="submit"}}>
    <fieldset>
      <div class="form-group">
        <label>Senha atual</label>
        {{input value=model.oldPassword class="form-control" placeholder="Digite a senha atual aqui" required="required" type="password"}}
      </div>
      <div class="form-group">
        <label>Nova senha</label>
        {{input value=model.newPassword class="form-control" placeholder="Digite a nova senha aqui" required="required" type="password"}}
      </div>
      <div class="form-group">
        <label>Repetir a nova senha</label>
        {{input value=model.rNewPassword class="form-control" placeholder="Repita a senha aqui" required="required" type="password"}}
      </div>
    </fieldset>
    <div>
      <button type="submit" class="btn btn-default">
        <i class="glyphicon glyphicon-floppy-save"></i>
        Mudar senha
      </button>
    </div>
  </form>
  </div>
</div>