<h1 class="page-header">{{t 'content.find'}}</h1>
<div class="actions">
  {{#acl-btn-create model="content" url="/contents/create"}}{{t 'content.create'}}{{/acl-btn-create}}
</div>
<br>
{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=false
  deleteRecord='deleteRecord'
  changePublishedStatus='changePublishedStatus'
}}