{{#bs-navbar position="static-top" as |navbar|}}
	<div class="navbar-header">
    {{#navbar.toggle}}
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
    {{/navbar.toggle}}
		{{#link-to 'index' class="navbar-brand"}}
			{{appName}}
		{{/link-to}}
	</div>
  {{#navbar.content}}
		{{partial 'partials/navbar-top-links'}}
		<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					{{#ember-metismenu classNames="nav"}}
			      <li>
			        {{#link-to 'articles.index'}}
			          <i class="fa fa-file-text"></i> Artigos
			        {{/link-to}}
			       </li>
			      <li>
			        {{#link-to 'users.index'}}
			          <i class="fa fa-users"></i> Usuários
			          <span class="fa arrow"></span>
			        {{/link-to}}
							<ul class="nav nav-second-level collapse" aria-expanded="false">
							  <li>
								  {{#link-to 'users.create'}}
								  	<i class="fa fa-plus"></i> Cadastrar
								  {{/link-to}}
							  </li>
							  <li>
								  {{#link-to 'users.create'}}
								  	<i class="fa fa-plus"></i> Perfis
								  {{/link-to}}
							  </li>
							  <li>
								  {{#link-to 'users.create'}}
								  	<i class="fa fa-plus"></i> Permissões
								  {{/link-to}}
							  </li>
							</ul>

						</li>
					{{/ember-metismenu}}
				</div>
				<!-- /.sidebar-collapse -->
		</div>
 {{/navbar.content}}
{{/bs-navbar}}