<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    {{#ember-metismenu classNames="nav"}}
      <li>
        {{#link-to 'articles.index'}}
          <i class="fa fa-file-text"></i> Artigos
        {{/link-to}}
       </li>
      <li>
        {{#link-to 'menus.index'}}
          <i class="fa fa-bars"></i> Menus e links
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'vocabulary'}}
          <i class="fa fa-tags"></i> Vocabulários
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'url-alia.index'}}
          <i class="fa fa-random"></i> Urls alternativas
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'users.index'}}
          <i class="fa fa-users"></i> Usuários
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'roles'}}
          <i class="fa fa-credit-card" aria-hidden="true"></i> Papéis de usuários
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'permissions'}}
          <i class="fa fa-unlock-alt"></i> Permissões
        {{/link-to}}
      </li>
    {{/ember-metismenu}}
  </div>
</div>