<h1 class="page-header">{{t "article.find"}}</h1>
<div class="actions">
  {{#acl-btn-create model="article" url="/articles/create"}}{{t "article.create"}}{{/acl-btn-create}}
</div>
<br>

{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=true
  deleteRecord="deleteRecord"
  changePublishedStatus="changePublishedStatus"
}}